node_modules
# Keep environment variables out of version control
.env

/generated/prisma
config/serviceAccountKey.json
config/taxibe-743c6-firebase-adminsdk-fbsvc-1b27b96276.json
package.json
package-lock.json
